<nav class="navbar navbar-expand-lg navbar-dark bg-primary">            
  <a class="navbar-brand toto mr-auto" href="index.html">Flux RSS</a>
  <div class="text-white d-flex justify-content-around" style="width: 10%">
      <i id="one-column" class="fas fa-pager icon-template" (click)="changeTemplate(0)"></i>
      <i id="two-columns" class="fas fa-columns icon-template" (click)="changeTemplate(1)"></i>
      <i id="multiple-columns" class="fas fa-solar-panel icon-template" (click)="changeTemplate(2)"></i>
  </div>
</nav>